html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: sans-serif;
}

body{
	width: 100%;
	height: 100%;
	background: #333;
/*	background: url(../asset/bg3.jpg) no-repeat;
	background-size: cover;
	background-position: top;*/
}

#canvas{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
}

#elements{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}

.node-texts{
	width: 100%;
	height: 100%;
	position: relative;
}

.node-texts p{
	position: absolute;
	margin: 0;
	line-height: 1;
	padding: 1;
}
