html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #eee;
}

#front-canvas{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 30;
}

#middle-layer{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	overflow: hidden;
}

.pop-txt{
	font-family: sans-serif;
	position: absolute;
	margin: 0;
	padding: 0;
}

.pop-txt.pop-link{
	text-decoration: underline;
}

#back-canvas{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.edit-panel{
	display: none;
	position: absolute;
	cursor: pointer;
    width: 240px;
    z-index: 101;
}

.edit-panel input{
	outline: none;
	text-align: center;
	border:none;
	width: 80%;
	background: transparent;
    color: #fff;
    font-size: 16px;
    padding: 8px;
}

.edit-panel #style-input{
	display: none;
}

.text-box{
	position: absolute;
	cursor: pointer;
    width: 100px;
    height: 100px;
    background: #5db0ca;
    border: 1px solid #fff;
    border-radius: 8px;
    z-index: 102;
    left: 100px;
    top: 100px;
    display: none;
}

.text-box.edit textarea{
	display: block;
}
.text-box.edit .text-box-opts{
	display: block;
}

.text-box.edit .append-text{
	display: none;
}

.text-box textarea{
	height: calc(100% - 40px);
	width: calc(100% - 20px);
	margin-top: 10px;
	margin-left: 10px;
	outline: none;
	border:none;
    color: #fff;
    font-size: 16px;
    padding: 0;
    resize : none;
    background: transparent;
    display: none;
}

.text-box .append-text{
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	margin-top: 10px;
	margin-left: 10px;
    color: #fff;
    font-size: 16px;
    padding: 0;
}

.text-box-opts{
	position: absolute;
	border-bottom: 0;
	width: 100%;
	text-align: right;
	border-top: 1px solid #fff;
	display: none;
}

.text-box-opts i{
	cursor: pointer;
	color: #fff;
	display: inline-block;
	margin: 4px 8px;
}

.text-box ::-webkit-scrollbar{
    width:3px;
    background-color:#ccc;
}

.text-box ::-webkit-scrollbar-thumb{
	background-color:#fff;
}

.text-box ::-webkit-scrollbar-track{
	background-color:#ccc;
}

.pop-console{
	position: fixed;
	right: 0px;
	top: 8px;
	background: #fff;
	padding: 0 2px 5px;
	box-shadow: 1px 1px 4px 0 #666;
	z-index: 102;
	border-radius: 5px;
}

.pop-console .pop-item{
	font-family: sans-serif;
	text-align: right;
	width: 80px;
	color: #999;
	font-size: 12px;
	cursor: pointer;
	position: relative;
	border-bottom: 1px dashed #ddd;
	padding: 5px 0;
}

.pop-console .pop-item span{
	position: absolute;
	display: none;
	width: 10px;
	height: 10px;
	border: 1px solid #999;
	left: 0;
	top: 4px;
	cursor: pointer;
	z-index: 12;
}

.pop-console .pop-item.on span{
	background: #999;
}

.pop-console .pop-item span:hover{
	border: 1px solid #333;
}

.pop-console .pop-item.on, .pop-console .pop-item:hover{
	color: #333;
}

.pop-console .pop-item:hover span{
	display: block;
}
