html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #eee;
}

#front-canvas{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 30;
}

#middle-layer{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	overflow: hidden;
}

.pop-txt{
	font-family: sans-serif;
	position: absolute;
	margin: 0;
	padding: 0;
}

#back-canvas{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.edit-panel{
	display: none;
	position: absolute;
	cursor: pointer;
    width: 240px;
    z-index: 101;
}

.edit-panel input{
	outline: none;
	text-align: center;
	border:none;
	width: 80%;
	background: transparent;
    color: #fff;
    font-size: 16px;
    padding: 8px;
}

.pop-console{
	position: fixed;
	right: 0px;
	top: 0px;
	background: #fff;
	padding: 0 2px 5px;
	box-shadow: 1px 1px 8px 0 #666;
	z-index: 102;
	border-radius: 5px;
}

.pop-console .pop-item{
	font-family: sans-serif;
	text-align: right;
	width: 80px;
	color: #999;
	font-size: 12px;
	cursor: pointer;
	position: relative;
	border-bottom: 1px dashed #ddd;
	padding: 5px 0;
}

.pop-console .pop-item span{
	position: absolute;
	display: none;
	width: 10px;
	height: 10px;
	border: 1px solid #999;
	left: 0;
	top: 4px;
	cursor: pointer;
	z-index: 12;
}

.pop-console .pop-item.on span{
	background: #999;
}

.pop-console .pop-item span:hover{
	border: 1px solid #333;
}

.pop-console .pop-item.on, .pop-console .pop-item:hover{
	color: #333;
}

.pop-console .pop-item:hover span{
	display: block;
}


