#top-bar{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 40;
}

#top-bar #path{
	padding: 0 10px;
	position: relative;
}

#top-bar .p-node{
	display: inline-block;
	cursor: pointer;
	font-size: 12px;
	padding: 6px 0;
	color: #ccc;
	overflow: hidden;
	margin: 5px;
	white-space: nowrap;
}

#top-bar .p-node i{
	font-size: 12px;
	color: #ccc;
	display: inline-block;
	margin: 0 4px;
}