#top-bar{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 40;
}

#top-bar #path{
	padding: 0 4px;
	position: relative;
}

#top-bar .p-node{
	display: inline-block;
	cursor: pointer;
	font-size: 12px;
	padding: 6px;
	overflow: hidden;
	margin: 0;
	white-space: nowrap;
}

#top-bar #path-line{
	min-width: 10px;
	height: 3px;
	position: fixed;
	left: 0;
	top: 0;
}