body{
	background: #000;
}

#space .node-text{
	color: #ccc;
}

#space .node-text.onhover, #space .node-text.highlight{
	color: #03d1fc;
}

#top-bar .p-node{
	color: #eee;
}

#top-bar #path-line{
	background: #03d1fc;
}

#nodelist p span{
	color: #aaa;
}

#nodelist .node-item::before{
	background: #aaa;
}

#nodelist .node-item:hover::before{
	background: #ccc;
}

#nodelist .text:hover span{

}

#nodelist .root::before{
	background: #03d1fc;
}

#nodelist .root span{
	color: #03d1fc;
}

#nodelist .root:hover::before{
	background: #03d1fc !important;
}

#entry {
	background: rgba(255,255,255,0.95);
}

#entry .edit-opt{
	color: #666;
}

#entry .candidates p{
	color: #666;
}

#entry .candidates p:hover{
	color: #444;
}

#entry .candidates p:nth-child(odd){
	background: #eee;
}

#entry .candidates p.topick{
	background: #ffd992;
	color: #444;
}

#map .map-row, #map .map-column{
	background: #444;
}

#console .opt-block:first-child{
	border-left: 1px solid #03d1fc;
}

#console .opt-block{
	border: 1px solid #03d1fc;
}

